.component-container{float:left;width:50%}.pattern-header{display:block;width:100%;clear:both;margin:0;padding:2rem;border-bottom:1px solid #d3d3d3;border-top:1px solid #d3d3d3;background:#f5f5f5}pre{font-size:13px;background:#f3f3ff;color:#2b2e54;position:relative;margin:0;float:right;border-radius:0;width:50%;border:none;box-shadow:inset 1px 0 12px rgba(0,0,0,.2);padding:25px 8px 4px}pre:after{display:block;position:absolute;top:0;left:0;content:"HTML";font-size:16px;padding:0 14px;border-radius:0 0 8px;background:#7fffd4;height:24px}
/*# sourceMappingURL=patternlib.css.map */
