font-family: 'dincond-bold';
font-style: normal;
font-weight: normal;
src: url('fonts/dincond-bold.woff2') format('woff2'),
     url('fonts/dincond-bold.woff') format('woff'),
     url('fonts/dincond-bold.ttf') format('ttf');

