.app-link {
	border: 2px solid #3E3E3E;
	box-shadow: 0 8px 9px 0 rgba(0,0,0,0.07);
	min-height: 6.7rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-family: $avenir-book;
	color: #333;
	transition: $transition--all;

	&:hover {
		text-decoration: none;
		background-color: rgba(0,0,0, .09);
		color: #000;
	}

	&--appstore {
		border-radius: 100px;
		padding: 0 2.2rem;

		&:before {
			content: '';
			display: inline-block;
			@include sprite($app-link-apple);
			margin-right: 1.3rem;
			margin-top: -.5rem;
		}
	}

	&--googleplay {
		border-radius: 8px;
		padding: 0 1.3rem;

		&:before {
			content: '';
			display: inline-block;
			@include sprite($app-link-googleplay);
			margin-right: 1rem;
			margin-top: -.2rem;
		}
	}
}