/******************************************************************
███╗   ███╗██╗██╗  ██╗██╗███╗   ██╗███████╗
████╗ ████║██║╚██╗██╔╝██║████╗  ██║██╔════╝
██╔████╔██║██║ ╚███╔╝ ██║██╔██╗ ██║███████╗
██║╚██╔╝██║██║ ██╔██╗ ██║██║╚██╗██║╚════██║
██║ ╚═╝ ██║██║██╔╝ ██╗██║██║ ╚████║███████║
╚═╝     ╚═╝╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝
********************************************************************/

/*
██╗ ██████╗ ██████╗ ███╗   ██╗███████╗
██║██╔════╝██╔═══██╗████╗  ██║██╔════╝
██║██║     ██║   ██║██╔██╗ ██║███████╗
██║██║     ██║   ██║██║╚██╗██║╚════██║
██║╚██████╗╚██████╔╝██║ ╚████║███████║
╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝


Just use ths folloing to get font-awesome icons in content

.icon:after{
	@include icon('fa-glass');
}
*/


/*
 ██████╗██╗     ███████╗ █████╗ ██████╗ ███████╗██╗██╗  ██╗
██╔════╝██║     ██╔════╝██╔══██╗██╔══██╗██╔════╝██║╚██╗██╔╝
██║     ██║     █████╗  ███████║██████╔╝█████╗  ██║ ╚███╔╝ 
██║     ██║     ██╔══╝  ██╔══██║██╔══██╗██╔══╝  ██║ ██╔██╗ 
╚██████╗███████╗███████╗██║  ██║██║  ██║██║     ██║██╔╝ ██╗
 ╚═════╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝
*/

@mixin clearfix{
		&:before,
		&:after {
				content: " "; // 1
				display: table; // 2
		}
		&:after {
				clear: both;
		}
}


/*
 ██████╗ ██████╗  █████╗ ██████╗ ██╗███████╗███╗   ██╗████████╗███████╗
██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
██║  ███╗██████╔╝███████║██║  ██║██║█████╗  ██╔██╗ ██║   ██║   ███████╗
██║   ██║██╔══██╗██╔══██║██║  ██║██║██╔══╝  ██║╚██╗██║   ██║   ╚════██║
╚██████╔╝██║  ██║██║  ██║██████╔╝██║███████╗██║ ╚████║   ██║   ███████║
 ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
*/


/* @include css-gradient(#dfdfdf,#f8f8f8); */

@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
		background-color: $to;
		background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
		background-image: -webkit-linear-gradient(top, $from, $to);
		background-image: -moz-linear-gradient(top, $from, $to);
		background-image: -o-linear-gradient(top, $from, $to);
		background-image: linear-gradient(to bottom, $from, $to);
}


/*
██████╗ ███████╗████████╗██╗███╗   ██╗ █████╗ 
██╔══██╗██╔════╝╚══██╔══╝██║████╗  ██║██╔══██╗
██████╔╝█████╗     ██║   ██║██╔██╗ ██║███████║
██╔══██╗██╔══╝     ██║   ██║██║╚██╗██║██╔══██║
██║  ██║███████╗   ██║   ██║██║ ╚████║██║  ██║
╚═╝  ╚═╝╚══════╝   ╚═╝   ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝
*/


/* @include background-image-retina(logo, png, 200px, 100px); */

@mixin background-image-retina($file, $type, $width, $height) {
		background-image: url($file + '.' + $type);
		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
				& {
						background-image: url($file + '@2x.' + $type);
						-webkit-background-size: $width $height;
						-moz-background-size: $width $height;
						-o-background-size: $width $height;
						background-size: $width $height;
				}
		}
}


