// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$app-link-apple-name: 'app-link--apple';
$app-link-apple-x: 88px;
$app-link-apple-y: 142px;
$app-link-apple-offset-x: -88px;
$app-link-apple-offset-y: -142px;
$app-link-apple-width: 28px;
$app-link-apple-height: 33px;
$app-link-apple-total-width: 302px;
$app-link-apple-total-height: 212px;
$app-link-apple-image: '../images/sprite.png';
$app-link-apple: (88px, 142px, -88px, -142px, 28px, 33px, 302px, 212px, '../images/sprite.png', 'app-link--apple', );
$app-link-googleplay-name: 'app-link--googleplay';
$app-link-googleplay-x: 88px;
$app-link-googleplay-y: 110px;
$app-link-googleplay-offset-x: -88px;
$app-link-googleplay-offset-y: -110px;
$app-link-googleplay-width: 29px;
$app-link-googleplay-height: 32px;
$app-link-googleplay-total-width: 302px;
$app-link-googleplay-total-height: 212px;
$app-link-googleplay-image: '../images/sprite.png';
$app-link-googleplay: (88px, 110px, -88px, -110px, 29px, 32px, 302px, 212px, '../images/sprite.png', 'app-link--googleplay', );
$features-icon-1-name: 'features-icon-1';
$features-icon-1-x: 0px;
$features-icon-1-y: 0px;
$features-icon-1-offset-x: 0px;
$features-icon-1-offset-y: 0px;
$features-icon-1-width: 107px;
$features-icon-1-height: 110px;
$features-icon-1-total-width: 302px;
$features-icon-1-total-height: 212px;
$features-icon-1-image: '../images/sprite.png';
$features-icon-1: (0px, 0px, 0px, 0px, 107px, 110px, 302px, 212px, '../images/sprite.png', 'features-icon-1', );
$features-icon-2-name: 'features-icon-2';
$features-icon-2-x: 107px;
$features-icon-2-y: 0px;
$features-icon-2-offset-x: -107px;
$features-icon-2-offset-y: 0px;
$features-icon-2-width: 99px;
$features-icon-2-height: 103px;
$features-icon-2-total-width: 302px;
$features-icon-2-total-height: 212px;
$features-icon-2-image: '../images/sprite.png';
$features-icon-2: (107px, 0px, -107px, 0px, 99px, 103px, 302px, 212px, '../images/sprite.png', 'features-icon-2', );
$features-icon-3-name: 'features-icon-3';
$features-icon-3-x: 206px;
$features-icon-3-y: 0px;
$features-icon-3-offset-x: -206px;
$features-icon-3-offset-y: 0px;
$features-icon-3-width: 96px;
$features-icon-3-height: 99px;
$features-icon-3-total-width: 302px;
$features-icon-3-total-height: 212px;
$features-icon-3-image: '../images/sprite.png';
$features-icon-3: (206px, 0px, -206px, 0px, 96px, 99px, 302px, 212px, '../images/sprite.png', 'features-icon-3', );
$features-icon-4-name: 'features-icon-4';
$features-icon-4-x: 0px;
$features-icon-4-y: 110px;
$features-icon-4-offset-x: 0px;
$features-icon-4-offset-y: -110px;
$features-icon-4-width: 88px;
$features-icon-4-height: 102px;
$features-icon-4-total-width: 302px;
$features-icon-4-total-height: 212px;
$features-icon-4-image: '../images/sprite.png';
$features-icon-4: (0px, 110px, 0px, -110px, 88px, 102px, 302px, 212px, '../images/sprite.png', 'features-icon-4', );
$slider-arrow-name: 'slider-arrow';
$slider-arrow-x: 116px;
$slider-arrow-y: 142px;
$slider-arrow-offset-x: -116px;
$slider-arrow-offset-y: -142px;
$slider-arrow-width: 18px;
$slider-arrow-height: 33px;
$slider-arrow-total-width: 302px;
$slider-arrow-total-height: 212px;
$slider-arrow-image: '../images/sprite.png';
$slider-arrow: (116px, 142px, -116px, -142px, 18px, 33px, 302px, 212px, '../images/sprite.png', 'slider-arrow', );
$spritesheet-width: 302px;
$spritesheet-height: 212px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($app-link-apple, $app-link-googleplay, $features-icon-1, $features-icon-2, $features-icon-3, $features-icon-4, $slider-arrow, );
$spritesheet: (302px, 212px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
