<!doctype html>
<html>
	{% include "../_shared/head.html" %}
	<body>
		{% block content %}{% endblock %}
		<script src="js/vendor/modernizr-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.5.2/blazy.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/app.js"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>