<!-- Extent this master layout -->
{% extends '_layouts/main-application.html' %}
{% set page = {title:"Home"} %}

{% block content %}
<main class="main">
	{% include '_shared/header.html' %}
	{% include '_shared/hero.html' %}
	<section class="promo-image"></section>
	{% include '_shared/carousel.html' %}
	{% include '_shared/features.html' %}
</main>
{% endblock %}

<!-- Add JavaScript unique to this page type -->
{% block javascript %}
{% endblock %}