.carousel {
	background-color: #F2F1ED;
	padding: 3rem 0;

	&__item {
		text-align: center;
		outline: none;
	}

	&__item-image {
		// important for slick css
		display: inline-block !important;
		vertical-align: top;

		@include break(max, $screen-md-min) {
			max-width: 60%;
		}
	}

	&__item-description {
		padding-left: 3rem;
		max-width: 53rem;
		margin-top: 11rem;
		display: inline-block;
		vertical-align: top;
		text-align: left;

		@include break(max, $screen-md-min) {
			margin-top: 5rem;
		}
	}

	&__item-title {
		font-family: $din-condensed;
		font-size: 5.6rem;
		color: #FFC215;
		margin-top: 0;
	}

	&__item-text {
		font-family: $avenir-book;
		font-size: 2.4rem;
		color: #323230;
		letter-spacing: 0;
		line-height: 3.4rem;
	}


	// Slick styles

	.slick-arrow {
		font-size: 0;
		border: 0;
		background-color: transparent;
		top: 50%;
		padding: 0;
		margin-top: -1.6rem;
		z-index: 9;
		outline: none;

		&:before {
			content: '';
			display: block;
			@include sprite($slider-arrow);
		}
	}

	
	.slick-prev {
		position: absolute;
		left: 0;
	
		&:before {
			transform: rotate(180deg);
		}

	}
	
	.slick-next {
		position: absolute;
		right: 0;
	}

	.slick-dots {
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-flex;
		justify-content: center;
	    margin-left: 50rem;
    	margin-top: -5rem;
    	position: relative;
    	top: -1.7rem;

    	@include break(max, $screen-md-min) {
    		top: 0;
    		margin: 0 auto;
    		left: 50%;
    		transform: translateX(-50%);
    	}

		button {
			font-size: 0;
			opacity: 0.4;
			width: 2.5rem;
			height: .6rem;
			background: #9F9F9F;
			border-radius: 4rem;
			border: 0;
			margin: 0 .8rem;
			display: block;
			outline: none !important;
		}

		.slick-active {
			button {
				background-color: #FFC215;
				opacity: 1;
			}
		}
	}
}