.features {
	text-align: center;
	padding-top: 4rem;

	&__title {
		font-family: $din-condensed;
		font-size: 6rem;
		color: #323230;
		border: 2px solid #FFC215;
		padding: 2rem 4rem;
		display: inline-block;
		vertical-align: top;
		line-height: 1;

		@include break(max, $screen-md-min) {
			font-size: 4rem;
		}
	}

	&__items {
		// display: flex;
		// flex-wrap: wrap;
		margin-top: 5rem;
	}

	&__item {
		// flex-basis: 50%;
		min-height: 200px;
		margin-bottom: 4rem;
	}

	&__item-title {
		color: #323230;
		font-family: $avenir-medium;
		font-size: 2.4rem;
	}

	&__item-text {
		color: #454545;
		font-family: $avenir-light;
		font-size: 2rem;
	}


	// Icons
	
	.icon {
		display: inline-block;
		vertical-align: top;
	}

	.features-icon-1 {
		@include sprite($features-icon-1);
	}
	
	.features-icon-2 {
		@include sprite($features-icon-2);
	}
	
	.features-icon-3 {
		@include sprite($features-icon-3);
	}
	
	.features-icon-4 {
		@include sprite($features-icon-4);
	}

}