.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 7rem;

	@include break(max, $screen-sm-min) {
		padding-top: 3rem;
	}
	
	@include break(max, $screen-xs-min) {
		padding-top: 0;
	}

	&__logo {
		padding: 0;
		height: auto;

		img {
			max-width: 100%;
		}

		@include break(max, $screen-md-max) {
			max-width: 38rem;

			img {
				max-width: 80%;
			}
		}

		@include break(max, $screen-xs-min) { 
			max-width: none;

			img {
				max-width: 100%;
			}
		}
	}

	&__navigation {
		float: right;
		list-style: none;
		padding: 0;
		margin: 0;
		margin-top: 4.5rem;

		@include break(max, $screen-md-max) {
			margin-top: 2.5rem;
			margin-left: -1.5rem;
			margin-right: -1.5rem;
		}

		@include break(max, $screen-md-min) {
			float: left;
		}

		li {
			 &:first-child {
			 	.header__navigation-link {
			 		margin-left: 0;
			 	}
		    }
		}
	}

	&__navigation-link {
		color: #454545;
		font-size: 2.1rem;
		line-height: 1;
		text-transform: uppercase;
		margin-left: 5rem;
		font-family: $din-condensed;
		transition: $transition--all;
	    background-size: 0 1px;
	    background-image: none;
	    background-position: 0 1.1em;
	    background-repeat: no-repeat;
	    -webkit-font-smoothing: subpixel-antialiased;
	    padding: 0 !important;

	    @include break(max, $screen-lg-min) {
	    	margin-left: 3rem;
	    }

	    @include break(max, $screen-md-min) {
	    	font-size: 1.8rem;
	    }
	    
	    @include break(max, $screen-sm-min) {
	    	margin-left: 0;
	    	margin-bottom: 1rem;
	    }

	  //   @include break(max, $screen-md-min) {
			// padding-top: 2rem !important;
	  //   }


		&:hover {
			text-decoration: none;
			color: #000;
			background-color: transparent !important;
			background-image: linear-gradient(to bottom,#000 100%, #000 100%);
    		background-size: 100% 1px;
		}
	}

	.navbar {
		// margin-top: 4.5rem;

		@include break(max, $screen-md-min) {
			margin-top: 0;
		}
	}

	.navbar-collapse {
		// padding: 0;
	}

	.navbar-toggle {
		border-color: #000;
		
		@include break(max, $screen-md-min) {
			margin: 0;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		.icon-bar {
			background-color: black;
		}
	}
}