.hero {
	background: #FFDE81;
	padding-top: 36rem;
	overflow: hidden;

	@include break(max, $screen-sm-min) {
		padding-top: 28rem;
	}

	&__image {
		margin-right: -14rem;
		margin-bottom: -5rem;

		@include break(max, $screen-lg-min) {
			max-width: 100%;
			margin-right: 0;
			margin-top: 5rem;	
		}
	}

	&__description {
		// padding-right: 2.5rem;
	}

	&__description-title {
		margin-top: 0;
		font-size: 5.5rem;
		font-family: $din-condensed;
		color: #333;
		text-transform: uppercase;
		line-height: 1;
		font-weight: normal;
	}

	&__description-text {
		font-size: 2.8rem;
		font-family: $avenir-light;
	}

	&__apps {
		margin-top: 7rem;

		.app-link {
			margin-right: 4rem;

			&:last-child {
				margin-right: 0;
			}
		}

		@include break(max, $screen-xs-min) {
			display: flex;
			justify-content: space-between;

			.app-link {
				margin-right: 0;
				font-size: 1.8rem;
			}
		}

		@include break(max, 400px) {
			flex-direction: column;

			.app-link {
				margin-bottom: 2rem;
			}
		}
	}

}


// Promo img

.promo-image {
	background: url('../images/mockup-app-bar.jpg') center no-repeat;
	min-height: 49rem;
	background-size: cover;
}