<section class="carousel">
	<div class="container">
		<div class="carousel__items">
			<div class="carousel__item">
				<img src="images/carousel/iphone6.png" alt="" class="carousel__item-image">
				
				<div class="carousel__item-description">
					<h2 class="carousel__item-title">DÉGUSTEZ</h2>
					<p class="carousel__item-text">Testez et évaluez les bières que vous souhaitez, et comparez votre avis à celui de la communauté.</p>
				</div>
			</div>
			<div class="carousel__item">
				<img src="images/carousel/iphone6.png" alt="" class="carousel__item-image">
				
				<div class="carousel__item-description">
					<h2 class="carousel__item-title">DÉGUSTEZ</h2>
					<p class="carousel__item-text">Testez et évaluez les bières que vous souhaitez, et comparez votre avis à celui de la communauté.</p>
				</div>
			</div>
			<div class="carousel__item">
				<img src="images/carousel/iphone6.png" alt="" class="carousel__item-image">
				
				<div class="carousel__item-description">
					<h2 class="carousel__item-title">DÉGUSTEZ</h2>
					<p class="carousel__item-text">Testez et évaluez les bières que vous souhaitez, et comparez votre avis à celui de la communauté.</p>
				</div>
			</div>
			<div class="carousel__item">
				<img src="images/carousel/iphone6.png" alt="" class="carousel__item-image">
				
				<div class="carousel__item-description">
					<h2 class="carousel__item-title">DÉGUSTEZ</h2>
					<p class="carousel__item-text">Testez et évaluez les bières que vous souhaitez, et comparez votre avis à celui de la communauté.</p>
				</div>
			</div>
		</div>
	</div>
</section>