<section class="features">
	<div class="container">
		<h2 class="features__title">
			MON CARNET
		</h2>

		<div class="features__items">
			<div class="row">
				<div class="col-md-6">
					<div class="features__item">
						<div class="features__item-image">
							<i class="icon features-icon-1"></i>
						</div>
						<h3 class="features__item-title">
							DÉCOUVREZ DES SUGGESTIONS 
						</h3>
						<p class="features__item-text">
							personnalisées selon vos goûts
						</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="features__item">
						<div class="features__item-image">
							<i class="icon features-icon-2"></i>
						</div>
						<h3 class="features__item-title">
							ENREGISTREZ VOS BIÈRES FAVORITES
						</h3>
						<p class="features__item-text">
							et retrouvez-les facilement
						</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="features__item">
						<div class="features__item-image">
							<i class="icon features-icon-3"></i>
						</div>
						<h3 class="features__item-title">
							CONSIGNEZ LES BIÈRES
						</h3>
						<p class="features__item-text">
							que vous souhaiteriez déguster plus tard
						</p>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="features__item">
						<div class="features__item-image">
							<i class="icon features-icon-4"></i>
						</div>
						<h3 class="features__item-title">
							NOTEZ ET COMMENTEZ LES BIÈRES 
						</h3>
						<p class="features__item-text">
							que vous avez dégusté
						</p>
					</div>
				</div>
			</div>
			

			
			
		</div>
	</div>
</section>