<header class="header">
	<div class="container">
		<nav class="navbar">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

		      <a class="navbar-brand header__logo" href="#">
				<img src="images/logo.png" alt="">
		      </a>
		    </div>

		    <div class="collapse navbar-collapse" id="main-nav">
		      <ul class="nav navbar-nav header__navigation">
				<li><a href="" class="header__navigation-link">TÉLÉCHARGER L’APP</a></li>
				<li><a href="" class="header__navigation-link">FONCTIONNEMENT</a></li>
				<li><a href="" class="header__navigation-link">CONTACT</a></li>
		      </ul>
		      
		    </div>
		</nav>
	</div>
</header>