<section class="hero">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="hero__description">
					<h2 class="hero__description-title">DÉCOUVREZ DES BIÈRES,</h2>
					<p class="hero__description-text">dégustez-les et partager vos avis avec une communauté</p>

					<div class="hero__apps">
						<a href="" class="app-link app-link--appstore">
							App Store
						</a>
						<a href="" class="app-link app-link--googleplay">
							Google Play
						</a>
					</div>
				</div>
			</div>

			<div class="col-lg-7">
				<img src="images/iphone-ipad.png" alt="" class="hero__image">
			</div>
		</div>
	</div>
</section>